* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: black;
}

@import "./styles/variables.scss";
@import "./styles/mixins.scss";
@import "./styles/adminPanel.scss";
@import "./styles/header.scss";
@import "./styles/files3.scss";
@import "./styles/files4.scss";

.d-none {
  display: none;
}

// global default state for button
button {
  border: none;
  cursor: pointer;

  &:hover {
    filter: brightness(0.85);
  }

  &:active {
    transform: scale(0.9);
  }
}
